<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wss.mapper.InfoEzstopMapper">
  <resultMap id="BaseResultMap" type="com.wss.pojo.InfoEzstop">
    <id column="ezstop_id" jdbcType="INTEGER" property="ezstopId" />
    <result column="ezstop_uid" jdbcType="INTEGER" property="ezstopUid" />
    <result column="ezstop_air_time" jdbcType="TIMESTAMP" property="ezstopAirTime" />
    <result column="ezstop_end_time" jdbcType="TIMESTAMP" property="ezstopEndTime" />
    <result column="ezstop_parking area code" jdbcType="VARCHAR" property="ezstopParkingAreaCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from info_ezstop
    where ezstop_id = #{ezstopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wss.pojo.InfoEzstop">
    insert into info_ezstop (ezstop_id, ezstop_uid, ezstop_air_time, 
      ezstop_end_time, "ezstop_parking area code")
    values (#{ezstopId,jdbcType=INTEGER}, #{ezstopUid,jdbcType=INTEGER}, #{ezstopAirTime,jdbcType=TIMESTAMP}, 
      #{ezstopEndTime,jdbcType=TIMESTAMP}, #{ezstopParkingAreaCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wss.pojo.InfoEzstop">
    update info_ezstop
    set ezstop_uid = #{ezstopUid,jdbcType=INTEGER},
      ezstop_air_time = #{ezstopAirTime,jdbcType=TIMESTAMP},
      ezstop_end_time = #{ezstopEndTime,jdbcType=TIMESTAMP},
      "ezstop_parking area code" = #{ezstopParkingAreaCode,jdbcType=VARCHAR}
    where ezstop_id = #{ezstopId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ezstop_id, ezstop_uid, ezstop_air_time, ezstop_end_time, "ezstop_parking area code"
    from info_ezstop
    where ezstop_id = #{ezstopId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ezstop_id, ezstop_uid, ezstop_air_time, ezstop_end_time, "ezstop_parking area code"
    from info_ezstop
  </select>
  <resultMap id="BaseResultMap" type="com.wss.pojo.InfoEzstop">
    <id column="ezstop_id" jdbcType="INTEGER" property="ezstopId" />
    <result column="ezstop_uid" jdbcType="INTEGER" property="ezstopUid" />
    <result column="ezstop_air_time" jdbcType="TIMESTAMP" property="ezstopAirTime" />
    <result column="ezstop_end_time" jdbcType="TIMESTAMP" property="ezstopEndTime" />
    <result column="ezstop_parking area code" jdbcType="VARCHAR" property="ezstopParkingAreaCode" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from info_ezstop
    where ezstop_id = #{ezstopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wss.pojo.InfoEzstop">
    insert into info_ezstop (ezstop_id, ezstop_uid, ezstop_air_time, 
      ezstop_end_time, "ezstop_parking area code")
    values (#{ezstopId,jdbcType=INTEGER}, #{ezstopUid,jdbcType=INTEGER}, #{ezstopAirTime,jdbcType=TIMESTAMP}, 
      #{ezstopEndTime,jdbcType=TIMESTAMP}, #{ezstopParkingAreaCode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.wss.pojo.InfoEzstop">
    update info_ezstop
    set ezstop_uid = #{ezstopUid,jdbcType=INTEGER},
      ezstop_air_time = #{ezstopAirTime,jdbcType=TIMESTAMP},
      ezstop_end_time = #{ezstopEndTime,jdbcType=TIMESTAMP},
      "ezstop_parking area code" = #{ezstopParkingAreaCode,jdbcType=VARCHAR}
    where ezstop_id = #{ezstopId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select ezstop_id, ezstop_uid, ezstop_air_time, ezstop_end_time, "ezstop_parking area code"
    from info_ezstop
    where ezstop_id = #{ezstopId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ezstop_id, ezstop_uid, ezstop_air_time, ezstop_end_time, "ezstop_parking area code"
    from info_ezstop
  </select>
</mapper>